[submodule "escrow/lib/forge-std"]
	path = escrow/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "escrow/lib/openzeppelin-contracts"]
	path = escrow/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts