# Foundry
escrow/cache/
escrow/out/

# Commonly ignored directories
.logs/
.ignore/

# Development broadcast logs
!/escrow/broadcast/
escrow/broadcast/*/31337/
escrow/broadcast/**/dry-run/

# Docs
docs/

# Environment
.env
.env.*
!.env.example